.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.weather-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #86b3c8;
  opacity: 0.8;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 14px;
}
